name: "syncpack-alpha-precommit-bug"

services:
  dev:
    container_name: syncpack-alpha-precommit-bug-dev
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
